@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -35px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 35px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

@media (max-width: 940px) {
  .my-masonry-grid {
    margin-left: -20px;
  }
  .my-masonry-grid_column {
    padding-left: 20px; /* gutter size for small screens */
  }
}

@media (max-width: 875px) {
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .my-masonry-grid {
    margin-left: -10px;
  }
  .my-masonry-grid_column {
    padding-left: 10px; /* gutter size for small screens */
  }

  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 13px;
  }
}

@media (max-width: 500px) {
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 10px;
  }
}